{% set slug = project_slug | replace('-', '_') %}
resources:
  genie_spaces:
    {{ slug }}_genie:
      title: "dpa-{{ project_slug }}"
      warehouse_id: ${var.warehouse_id}
      file_path: tpch_genie.geniespace.json
