{% set slug = project_slug | replace('-', '_') %}
name: '{{ slug }}'
version: '1.0.0'
config-version: 2

profile: databricks

model-paths: ["models"]
test-paths: ["tests"]
seed-paths: ["seeds"]
analysis-paths: ["analyses"]
macro-paths: ["macros"]

target-path: "target"
clean-targets:
  - "target"
  - "dbt_packages"

models:
  {{ slug }}:
    bronze:
      +materialized: view
      +database: "{{ cfg.bronze_catalog }}"
    gold:
      +materialized: table
      +database: "{{ cfg.gold_catalog }}"
