{% set slug = project_slug | replace('-', '_') %}
resources:
  pipelines:
    {{ slug }}_pipeline:
      name: "dpa-{{ project_slug }}"
      catalog: ${var.gold_catalog}
      schema: ${resources.schemas.{{ slug }}_gold.name}
      serverless: true
      edition: ADVANCED
      channel: CURRENT
      libraries:
        - glob:
            include: ${workspace.file_path}/src/pipelines/{{ cfg.pipeline_name }}/**
      configuration:
        bronze_catalog: ${var.bronze_catalog}
        bronze_schema: ${resources.schemas.{{ slug }}_bronze.name}
        silver_catalog: ${var.silver_catalog}
        silver_schema: ${resources.schemas.{{ slug }}_silver.name}
        gold_catalog: ${var.gold_catalog}
        gold_schema: ${resources.schemas.{{ slug }}_gold.name}
