{% set slug = project_slug | replace('-', '_') %}
resources:
  jobs:
    {{ slug }}_medallion:
      name: "dpa-{{ project_slug }}"
      queue:
        enabled: true
      performance_target: STANDARD
      schedule:
        quartz_cron_expression: "0 0 6 * * ?"
        timezone_id: UTC
        pause_status: UNPAUSED
      environments:
        - environment_key: Default
          spec:
            environment_version: "5"
      tasks:
        - task_key: bronze_ingest
          environment_key: Default
          notebook_task:
            notebook_path: ${workspace.file_path}/notebooks/bronze/ingest
            source: WORKSPACE
            base_parameters:
              bronze_catalog: ${var.bronze_catalog}
              bronze_schema: ${var.bronze_schema}

        - task_key: silver_transform
          depends_on:
            - task_key: bronze_ingest
          environment_key: Default
          notebook_task:
            notebook_path: ${workspace.file_path}/notebooks/silver/transform
            source: WORKSPACE
            base_parameters:
              bronze_catalog: ${var.bronze_catalog}
              silver_catalog: ${var.silver_catalog}
              bronze_schema: ${var.bronze_schema}
              silver_schema: ${var.silver_schema}

        - task_key: gold_aggregate
          depends_on:
            - task_key: silver_transform
          environment_key: Default
          notebook_task:
            notebook_path: ${workspace.file_path}/notebooks/gold/aggregate
            source: WORKSPACE
            base_parameters:
              silver_catalog: ${var.silver_catalog}
              gold_catalog: ${var.gold_catalog}
              silver_schema: ${var.silver_schema}
              gold_schema: ${var.gold_schema}
