{% set slug = project_slug | replace('-', '_') %}
resources:
  apps:
    {{ slug }}:
      name: "${bundle.target}-{{ project_slug }}"
      description: "Streamlit sales analytics app powered by the TPCH sample dataset"
      source_code_path: ../../app
      config:
        env:
          - name: DATABRICKS_HTTP_PATH
            value: ${var.sql_warehouse_http_path}
