{% set slug = project_slug | replace('-', '_') %}
resources:
  apps:
    {{ slug }}:
      name: "dpa-{{ project_slug }}"
      description: "Streamlit sales analytics app powered by the TPCH sample dataset"
      source_code_path: ../../app
      config:
        resources:
          - name: lakebase
            type: database
            id: ${resources.databases.{{ slug }}_lakebase.id}
        env:
          - name: DATABRICKS_HTTP_PATH
            value: /sql/1.0/warehouses/${var.warehouse_id}
