{% set slug = project_slug | replace('-', '_') %}
resources:
  jobs:
    {{ slug }}_job:
      name: "[${bundle.target}] {{ project_slug }} job"
      trigger:
        periodic:
          interval: 1
          unit: DAYS
        pause_status: PAUSED
      tasks:
        - task_key: refresh_pipeline
          pipeline_task:
            pipeline_id: ${resources.pipelines.{{ slug }}_pipeline.id}
