{% set slug = project_slug | replace('-', '_') %}
resources:
  jobs:
    {{ slug }}_trigger:
      name: "dpa-{{ project_slug }}-trigger"
      queue:
        enabled: true
      schedule:
        quartz_cron_expression: "0 0 6 * * ?"
        timezone_id: UTC
        pause_status: UNPAUSED
      tasks:
        - task_key: run_pipeline
          pipeline_task:
            pipeline_id: ${resources.pipelines.{{ slug }}_pipeline.id}
