resources:
  sql_warehouses:
    starter_warehouse:
      name: "[${bundle.target}] {{ project_slug }} warehouse"
      warehouse_type: PRO
      enable_serverless_compute: true
      cluster_size: "Small"
      auto_stop_mins: 10
