{% set slug = project_slug | replace('-', '_') %}
resources:
  schemas:
    {{ slug }}_bronze:
      catalog_name: ${resources.catalogs.{{ slug }}_bronze_catalog.name}
      name: {{ cfg.bronze_schema }}
      grants:
        - principal: ${workspace.current_user.userName}
          privileges:
            - ALL_PRIVILEGES

    {{ slug }}_silver:
      catalog_name: ${resources.catalogs.{{ slug }}_silver_catalog.name}
      name: {{ cfg.silver_schema }}
      grants:
        - principal: ${workspace.current_user.userName}
          privileges:
            - ALL_PRIVILEGES

    {{ slug }}_gold:
      catalog_name: ${resources.catalogs.{{ slug }}_gold_catalog.name}
      name: {{ cfg.gold_schema }}
      grants:
        - principal: ${workspace.current_user.userName}
          privileges:
            - ALL_PRIVILEGES
