{% set slug = project_slug | replace('-', '_') %}
resources:
  jobs:
    {{ slug }}_setup_views:
      name: "dpa-{{ project_slug }}"
      tasks:
        - task_key: create_metric_views
          sql_task:
            warehouse_id: ${var.warehouse_id}
            file:
              path: ${workspace.file_path}/src/sql/setup_metric_views.sql
