{% set slug = project_slug | replace('-', '_') %}
resources:
  jobs:
    {{ slug }}_setup_views:
      name: "dpa-{{ project_slug }}"
      queue:
        enabled: true
      performance_target: STANDARD
      schedule:
        quartz_cron_expression: "0 0 6 * * ?"
        timezone_id: UTC
        pause_status: UNPAUSED
      environments:
        - environment_key: Default
          spec:
            environment_version: "5"
      tasks:
        - task_key: create_metric_views
          environment_key: Default
          notebook_task:
            notebook_path: ${workspace.file_path}/notebooks/setup_metric_views
            source: WORKSPACE
            base_parameters:
              catalog: ${var.catalog}
              schema: ${var.schema}
