{% set slug = project_slug | replace('-', '_') %}
resources:
  dashboards:
    {{ slug }}_dashboard:
      display_name: "dpa-{{ cfg.dashboard_name }}"
      file_path: resources/dashboards/tpch_overview.lvdash.json
      embed_credentials: false
      warehouse_id: ${var.warehouse_id}
