{% set slug = project_slug | replace('-', '_') %}
resources:
  dashboards:
    {{ slug }}_dashboard:
      display_name: "dpa-{{ project_slug }}"
      file_path: tpch_overview.lvdash.json
      embed_credentials: false
      warehouse_id: ${var.warehouse_id}
